<!DOCTYPE html>
<html>
<head>
  <h1>group_dj</h1>
  <script src="https://sdk.scdn.co/spotify-player.js"></script>
  <script>
    window.onSpotifyWebPlaybackSDKReady = () => {
    const token = "<%= Spotify::Api.new.client_token %>" //'BQCusAIgq_NUcfL_YTfr4iTimvxjDjnf9zQKdC0sI-6q5pWINCZHtHctDQ694tx1-WL9nufcFtXTH_XqM3A0DhU0KDYsQm0ZmEeRCkSB1t5M9NGxad0uxzFzK0WuTU1gxTCmGqkvXwLRHQEcsCTtcVOa6bVy21EmmfzOtGp8';
    const player = new Spotify.Player({
      name: 'Web Playback SDK Quick Start Player',
      getOAuthToken: cb => { cb(token); }
    });

    // Error handling
    player.addListener('initialization_error', ({ message }) => { console.error(message); });
    player.addListener('authentication_error', ({ message }) => { console.error(message); });
    player.addListener('account_error', ({ message }) => { console.error(message); });
    player.addListener('playback_error', ({ message }) => { console.error(message); });

    // Playback status updates
    player.addListener('player_state_changed', state => { console.log(state); });

    // Ready
    player.addListener('ready', ({ device_id }) => {
      console.log('Ready with Device ID', device_id);
    });

    // Not Ready
    player.addListener('not_ready', ({ device_id }) => {
      console.log('Device ID has gone offline', device_id);
    });

    // Connect to the player!
    player.connect();
  };
</script>
</head>
<body>
  asdf
</body>
</html>
